<!-- barre navigation -->
<div class="container-fluid shadow bg-white rounded navigationbar">
    <div class="row">
        <div class="col d-flex align-items-center">
            <a class="navbar-brand" href="#">
                    <img src="logo.png" height="50" alt="" loading="lazy">
            </a>
        </div>
        <div class="col">
            <div class="row">
                <div class="d-xl-block col-xl-1"></div>
                <div class="d-md-block col-md-4 col-lg-6 col-xl-6"></div>
                <!-- afficher le nom de l'utilisateur ou "Admin" lorsqu'on est connecté -->
                <div class="col my-3 d-flex justify-content-end flex-nowrap">
                    <p>Prénom Nom</p>
                </div>
                <!-- afficher lorsqu'on est connecté -->
                <div class="col my-3">
                    <a id="connectbuttonhref" href="">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
</div>