<!-- barre navigation -->
<header>
    <div class="container-fluid shadow bg-white rounded navigationbar">
        <div class="row">
            <div class="col-4 col-lg-2 d-flex align-items-center">
                <% if(locals.user) {%>
                <a class="navbar-brand" href="/evenements">
                        <img src="/logo.png" height="50" alt="" loading="lazy">
                </a>
                <%} else {%>
                    <a class="navbar-brand" href="/login">
                        <img src="/logo.png" height="50" alt="" loading="lazy">
                </a>
                <% } %>
            </div>
            <div class="col">
                <div class="row justify-content-end">
                    <div class="d-none d-md-flex col-md-2 col-lg-3"></div>
                    <% if (locals.user) {%>
                        <% if (typeof user.adminPseudo != "undefined") {%>
                        <div class="col my-3 d-flex justify-content-end flex-nowrap">
                            <p>Admin</p>
                        </div>
                        <% } else{ %>
                        <!-- afficher le nom de l'utilisateur ou "Admin" lorsqu'on est connecté -->
                        <div class="col my-3 d-flex justify-content-end flex-nowrap">
                            <p><%- user.studentLastName %> <%- user.studentFirstName %></p>
                        </div>
                        <%}%>
                        <!-- afficher lorsqu'on est connecté -->
                        <div class="col my-3 ">
                            <a id="connectbuttonhref" href="/logout">Déconnexion</a>
                        </div>
                    <% } else{ %>
                    <div class="col-4 col-md-3 col-lg-3 my-3 d-flex justify-content-center">
                        <a id="connectbuttonhref" href="/login">Connexion Etudiant</a>
                    </div>
                    <div class="col-4 col-md-3 col-lg-3 my-3 d-flex justify-content-center">
                        <a id="connectbuttonhref" href="/loginAdmin">Connexion Administrateur</a>
                    </div>
                    <div class="col-4 col-md-3 col-lg-3 my-3 d-flex justify-content-center">
                        <a id="connectbuttonhref" href="/signUp">Inscription </a>
                    </div>
                    <div class="d-none d-lg-flex col"></div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</header>