<%- include ('./partials/header') %>
<title>Vue Evénements</title>
<link rel="stylesheet" href="admin_all_events_style.css">
</head>
<body>
<%- include ('./partials/nav') %>

<div class="container-fluid my-5 content ">
    <div class="row">
        <div class="col d-none d-sm-block"></div>
        <div class="col-12 col-sm-8 col-lg-6 col-xl-4 grid shadow bg-white rounded" id="content">
            <div class="row my-4">
                <button type="button" class="btn btn-primary createButton "><i class="fas fa-plus"></i> Créer événement</button>
            </div>
            <div class="row d-flex flex-column">
                <div class="col my-2">
                    <% allEvents.forEach(function(event){ %>
                    <div class="row">
                        <div class="col-8">
                            <a class="btn btn-primary eventButton" href="#" role="button" title="Voir EDT IG3"><%- event.eventName %></a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary smallButton" href="#" role="button"><i class="fas fa-edit" title="Editer"></i></a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary smallButton" href="#" role="button" title="Télécharger format PDF"><i class="fas fa-download"></i></a>
                        </div>
                    </div>
                    <%});%>
                </div>
                <div class="col my-2">
                    <div class="row">
                        <div class="col-8">
                            <a class="btn btn-primary eventButton" href="#" role="button" title="Voir EDT IG4">IG4</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary smallButton" href="#" role="button"><i class="fas fa-edit" title="Editer"></i></a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary smallButton" href="#" role="button" title="Télécharger format PDF"><i class="fas fa-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col my-2">
                    <div class="row">
                        <div class="col-8">
                            <a class="btn btn-primary eventButton" href="#" role="button" title="Voir EDT IG5">IG5</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary smallButton" href="#" role="button" title="Editer"><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary smallButton" href="#" role="button" title="Télécharger format PDF"><i class="fas fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-none d-sm-block"></div>
    </div>
</div>

<%- include ('./partials/footer') %>
