<%- include ("./partials/header") %>
<title>Vue Evénements</title>
<link rel="stylesheet" href="public/login_style.css">
</head>
<body>
<%- include ('./partials/nav') %>

<div class="container">
    <p class=" align-middle h1 text-center my-5" id="title">OUTIL DE RESERVATION DE SOUTENANCE - SE CONNECTER EN TANT QU'ADMINISTRATEUR</p>
</div>

<div class="container login-container ">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8 login-form-1 bg-light shadow p-3 mb-5 bg-white rounded">
            <h3>Connexion</h3>
            <!-- formulaire -->
            <form action="/loginAdmin" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email *" value="" name="adminPseudo" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mot de Passe *" value="" name="adminPassword"/>
                </div>
                <div class="form-group" id="buttona">
                    <input type="submit" class="btnSubmit" value="Connexion" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd">Mot de passe oublié?</a>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<%- include ("./partials/footer") %>
