
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <link href='./dist/mainFullCalendar.css' rel='stylesheet'/>
	<script src='./dist/mainFullCalendar.js'></script>
	<title>Planning Test</title>
  </head>
  <body>
	  <div><h1>Voici le calendrier</h1></div>
    <div id='calendar'></div>
  </body>
</html>