
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script scr="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css">
    <title>Planning Test</title>
  </head>
  <body>
	  <div><h1>Voici le calendrier</h1></div>
    <div id='calendar'></div>
  </body>
  <script>
    $(document).ready(function() {

$('#calendar').fullCalendar({
  header: {
    left: 'prev,next,today',
    center: 'title',
    right: 'month,agendaWeek,agendaDay'
    }
});

});
  </script>
</html>