#title {
    font-family: Roboto;
    color: #004877;
}
.btn {
    border-radius: 0.8rem;
    font-family: Roboto;
}
.content {
    margin-top: 50px;
}
.smallButton {
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0 5px;
}
.content .row {
    margin: 0 10px;
}
p {
    margin: 10px 0;
}
.download p {
    margin: 1px 0;
}
.container-fluid:last-of-type {
    margin-top: 30px;
}
.row:last-of-type {
    margin-left: 1px;
    margin-right: 1px;
}
.edt {
    width: 100%;
    max-width: 1200px;
    height: 700px;
}
.count {
    width: 100%;
    max-width: 150px;
    height: 100px;
    font-family: Roboto;
    text-align: center;
    padding-top: 25px;
    font-size: 1.2rem;
}
.noPadding {
    padding: 2px;
    margin-top: 30px;
}
.edtCol {
    padding: auto 10px;
}
body {
    background-color: red;
}